<div class="measure header">
  <a href="{{ "/" | relative_url }}" class="header-title">
    {{ site.title }}
    <i class="header-subtitle">Full Stack Software Engineer & MBA</i>
  </a>
  <div class="sub-header">
    <nav class="site-nav">
      <a class="nav-link" href="#section-purpose">Purpose</a>
      <a class="nav-link" href="#section-skills">Skills</a>
      <a class="nav-link" href="#section-projects">Projects</a>
      <a class="nav-link" href="#section-experiences">Experiences</a>
      <a class="nav-link" href="#section-contact">Contact</a>
      {% include social_links.html %}
    </nav>
    <!-- {% include social_links.html %} -->
  </div>
  <div class="clearfix"></div>
</div>