.site-header {
  padding-bottom: $space-2;
  position: fixed;
  left: 0;
  right: 0;
}

// .site-header a {
//   color: $header-color;
//   font-size: $h3;
//   font-weight: $header-font-weight;
//   background-image: none;
//   text-decoration: none;
// }



.header-title {
  font-size: 2rem;
  color: $header-color;
  font-weight: $header-font-weight;
  background-image: none;
  border-bottom: none;
  text-decoration: none;
}

.header-title:hover {
  font-size: 2rem;
  color: $header-color;
  font-weight: $header-font-weight;
  background-image: none;
  border-bottom: none;
  text-decoration: none;
}

.sub-header {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.site-nav {
  width: auto;
  position: absolute;
  left: -1rem;
}

.nav-link {
  padding: 1rem;
  position: relative;
  color: $nav-color;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.nav-link:hover {
  color: $header-color;
}

// font-family: "Merriweather","PT Serif",Georgia,"Times New Roman",serif;
// line-height: 1.5;
