.site-header {
  padding-bottom: $space-2;
  position: fixed;
  left: 0;
  right: 0;
}

i.header-subtitle {
  color: $nav-color;
  font-weight: normal;
  font-size: 1rem;
}

.sub-header {
  padding: 1rem 0rem;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 46rem;
}

.site-nav {
  display: grid;
  grid-template-columns: 0fr 0fr 0fr 0fr 0fr 1fr;
  justify-items: start;
  margin: 0 -0.5rem;
  width: auto;
  position: relative;
}
