.measure {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14rem;
  max-width: $measure-width;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.about-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 2rem;
}

.headshot-img {
  object-fit: cover;
}

.special-link {
  color: #333;
  font-style: italic;
}