.social-icons-left, .social-icons-right {
  text-align: center;
  float: none;
}

.social-icons {
  font-size: 1.25rem;
  width: 100%;
  padding-right: 3.5rem;
}

.social-icons a.fa {
  cursor: pointer;
  position: relative;
  color: $nav-color;
  text-decoration: none;
  border-radius: 5px;
  opacity: 0.8;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.34em;
  padding-left: 0.34em;
  -webkit-transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.social-icons a.fa::after {
  content: "";
  position: absolute;
  border-radius: 5px;
  box-shadow:
    0 1.8px 3.6px rgba(0, 0, 0, 0.032),
    0 5px 10px rgba(0, 0, 0, 0.048),
    0 12.1px 24.1px rgba(0, 0, 0, 0.064),
    0 40px 80px rgba(0, 0, 0, 0.1)
  ;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.social-icons a.fa:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  color: $header-color;
  opacity: 1;
}

.social-icons a.fa:hover::after {
  opacity: 1;
}

.social-icons iframe[title=Flattr] {
  position: relative;
  top: 0.1em;
}
